<div class="container" #pdfContent>
  <div class="digitalVerification">
     <h4>Welcome to Digital Address Verification</h4>
  </div>
  <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card" >
           <form action="#" >
            <div class="row">
               <div class="col-md-6 col-sm-12">
                  <div class="form-group userOutput">
                     <span>Ref ID : {{refId}}</span>
                     <hr>
                      <!-- <label class="form-control-placeholder" for="refId"></label>  -->
                  </div>
               </div>
               <div class="col-md-6 col-sm-12">
                  <div class="form-group userOutput">
                     <span>Client Name : {{clientName}}</span>
                     <hr>
                  </div>
               </div>
            </div>
              <div class="row">
                 <div class="col-md-6 col-sm-12">
                    <div class="form-group userOutput">
                     <span>Candidate  Name: {{username}}</span>
                     <hr>
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-12">
                    <div class="form-group userOutput">
                     <span>Father  Name: {{father}}</span>
                     <hr>
                  </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-6 col-sm-12">
                    <div class="form-group userOutput">
                     <span>Date of Birth: {{dateOfBirth}}</span>
                     <hr>
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-12">
                  <div class="form-group userOutput">
                     <span>Address Detail: {{address}}</span>
                     <hr>
                  </div>
                 </div>
              </div>
              <div class="row">
               <div class="col-md-6 col-sm-12">
                <div class="form-group userOutput">
                  <span>Contact Number: {{contact}}</span>
                  <hr>
                </div>
               </div>
               <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                     <select [(ngModel)]= "inlineFormCustomSelect" name="inlineFormCustomSelect" class="custom-select mr-sm-2" class="form-control select-select" [ngClass]="!location?'fadeFields':''" [disabled]="!location">
                        <option *ngFor="let residence of residenceTypes"  [value]="residence.name" >{{residence.name}}</option>
                     </select>
                     <span class="showError" *ngIf="signuperrordata.inlineFormCustomSelect">Residence Type is Required </span>
                  </div>
               </div>
            </div>
              <div class="row">
                 <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                       <input type="date" name="durationDate" class="form-control" [(ngModel)]= "durationDate" [ngClass]="!location?'fadeFields':''" [disabled]="!location" required aria-required="true" />
                       <label for="durationDate" class="form-control-placeholder">Duration Date:</label>
                       <span class="showError" *ngIf="signuperrordata.durationDate">Duration Date is Required </span>
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                       <input type="date" name="durationStay" [(ngModel)]= "durationStay" class="form-control" [ngClass]="!location?'fadeFields':''" [disabled]="!location"  required aria-required="true" />
                       <label  for="durationStay" class="form-control-placeholder">Duration to Stay:</label>
                       <span class="showError" *ngIf="signuperrordata.durationStay">Duration to Stay is Required </span>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-6 col-sm-2">
                    <div class="form-group">        
                       <input  type="file" name="adhaarFront" [(ngModel)]="adhaarFront" class="form-control" (change)="onSelectFile1($event)" #myInput1 [ngClass]="!location?'fadeFields':''" [disabled]="!location" required>
                       <label [ngClass]="!location?'fadeFields':''" class="" for="adhaarFront">Upload ID Proof Front Side:</label>
                       <span *ngIf="adhaarFront">{{adhaarFront}}</span>
                       <img [src]="urlOne" class="imageResponsive"> 
                       <span class="showError" *ngIf="signuperrordata.adhaarFront">ID Proof Front is Required</span>
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-2">
                    <div class="form-group">        
                       <input type="file" name="adhaarBack" [(ngModel)]="adhaarBack" class="form-control" (change)="onSelectFile2($event)" #myInput2 [ngClass]="!location?'fadeFields':''" [disabled]="!location" required>
                       <label [ngClass]="!location?'fadeFields':''" class="" for="adhaarBack">Upload ID proof Back Side:</label>
                       <img [src]="urlTwo" class="imageResponsive"> 
                       <span class="showError" *ngIf="signuperrordata.adhaarBack">ID Proof Back Side is Required</span>
                    </div>
                 </div>
              </div><br>
              <div class="row">
                 <div class="col-md-6 col-sm-2">
                    <div class="form-group"> 
                     <label [ngClass]="!location?'fadeFields':''" class="" for="bill">Upload Utility bill</label>
                       <input type="file" [(ngModel)]="bill" name="bill" class="form-control" (change)="onSelectFile3($event)" #myInput3 [ngClass]="!location?'fadeFields':''" [disabled]="!location"  required>
                       <img [src]="urlThree" class="imageResponsive"> 
                       <span class="showError" *ngIf="signuperrordata.bill">Utility bill is Required</span>
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-2">
                  <div class="form-group"> 
                     <label [ngClass]="!location?'fadeFields':''" class="" for="homeImages">Upload Home Images</label>
                     <input type="file" [(ngModel)]="homeImages" name="homeImages" class="form-control" (change)="onSelectFile4($event)" #myInput3 [ngClass]="!location?'fadeFields':''" [disabled]="!location"  required>
                     <img [src]="urlFour" class="imageResponsive"> 
                     <span class="showError" *ngIf="signuperrordata.homeImages">Upload Home Image is Required</span>
                  </div>
               </div>
              </div><br>
              <div class="row">
               <div class="col-md-6 col-sm-2">
                  <div class="updateCanvas"> <label [ngClass]="!location?'fadeFields':''" class="form-control-placeholder">Signature</label>
                  </div>
                  <span class="showError" *ngIf="signuperrordata.signature">Signature is Required</span>
                    <div class="updateBorder" [ngClass]="!location?'fadeFields':''">
                     <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                     
                    </div>
               </div>
               <div class="col-md-6 col-sm-12">
                  <input type="checkbox" [(ngModel)]="userconsent" name="userconsent">
                     <label for="vehicle1">&nbsp;&nbsp; I agree that all the provide by me are correct.</label><br>
                     <span class="showError" *ngIf="signuperrordata.userconsent">Please Select Checkbox</span>
                     <br>
                     <button type="button" (click)="resetSign()" [ngClass]="!location?'fadeFields':''" [disabled]="!location" class="buttonCustom">Reset Sign</button>   &nbsp;        
                  <button type="button" (click)="saveandSend()" [ngClass]="!location?'fadeFields':''" [disabled]="!location" class="buttonCustom">Submit Details</button>
               </div>
            </div><br>
             
           </form>
        </div>
     </div>
  </div>
  <div #mapContent [ngClass]="!location?'fadeFields':''">
   <app-userlocation (locationEvent)="getLocation($event)"  (cordinateEvent)="getuserCordinates($event)"></app-userlocation>
  </div>
  
</div>


