.digitalVerification{
    position: relative;
    margin-top: 87px;
}
.userLocationWithMap {
    background: #171717;
    color: #fff;
    padding: 25px 25px;
    position: relative;
    opacity: 0.7;
    font-size: 12px;
    /* display: none; */
}
/* hr{
    background: #000;
    height: 1px;
} */
.userOutput span{
    font-weight: 800;
    letter-spacing: 1px;
    top: 9px;
    position: relative;
    

}
input[type='file'] {
    color: transparent;
}  
.form-group.userOutput {
    background: #0062ccbf;
    color: #fff !important;
    padding: 0px 5px;

}
label, option{
    /* font-weight: 800; */
    letter-spacing: 1px;
    color: #000; 
    top: 26px !important; 
}
select option{
    font-weight: 800;
    letter-spacing: 1px;
    color: #000; 
    top: 26px;
}
.digitalVerification h4 {
    font-size: 20px;
    text-align: center;
    padding: 7px 0px;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 800;
}

form {
    border: 2px solid #fff;
    padding: 20px 25px;
    border-radius: 4px;
}
/* .card {
    box-shadow: 0 0 20px rgb(115 115 115 / 75%);
} */
input[type="date"]::before { 
    content: attr(data-placeholder);
    width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }
h4 {
    font-size: 20px;
}
input, textarea,select {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
}
.form-control,textarea,select:focus {
    color: #000;
    /* background-color: #fff;
    border-color: #000; */
    outline: 0;
    box-shadow: none;
    padding: 0px;
}
.cardContent{
    padding: 10px 20px;
}

select#inlineFormCustomSelect {
    padding: 0px;
}

input#adhaarFront {
    position: relative;
    padding: 35px 0px;
}
input#adhaarBack {
    position: relative;
    padding: 35px 0px;
}
input#Bill {
    position: relative;
    padding: 35px 0px;
}

.buttonCustom {
    border: 1px solid #2bbef1;
    color: #fff;
    padding: 10px 55px;
    border-radius: 5px;
    background: #2bbef1;
    cursor: pointer;
}
.buttonCustom :hover {
    background-color: #fff;
    padding: 10px 45px;
    border-radius: 5px;
    color: #1d2329;
    border-color: #fff;
    transition: background-color .3s linear 0s,color 50ms linear 50ms;
}
/*Floting Css*/
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control-placeholder {
    position: absolute;
    top: 10px !important;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    left: -15px;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    font-size: 10px !important;
  }
  .pointer a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    display: block;
    margin-top: 0px;
}

.updateBorder {
    border: 1px solid #000;
}

.updateCanvas {
    position: relative;
    top: -40px;
}
.showError {
    color: red;
    position: relative;
    top: 0px;
}
.imageResponsive {
    height: 250px;
    /* width: 100%;
    z-index: 8890999; */
    
}

.progressBar img {
    position: absolute;
    top: 200px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 100%;
    height: 100%;

}
/* Media Query Start*/
@media only screen and (max-width: 600px) {
    form {
        border: 2px solid #fff;
        padding: 15px 5px;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    .progressBar img {
        width: 100% !important;
        height: 100% !important;
    
    }
	.imageResponsive{
		width: 100% !important;
		height: auto !important;
	}
    .form-control-placeholder{
        top: 30px !important;
    }
    .updateSign{
        top: 10px !important;
    }
    .showError2 {
        position: relative;
        top: 26px;
    }
    button.btn.btn-primary {
        width: 100%;
        margin-top: 20px;
        background: #012c3c;
        border: 1px solid #012c3c;
    }
    input, textarea,select {
        position: relative !important;
        top: 26px !important;
    }
    .changeLable {
        position: relative;
    }
    
}

  /* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .updateCompany {
        margin-top: 15px;
    }
}

agm-map {
    height: 300px;
  }
.fadeFields {
    opacity: 0.3;
}