<body>
  <!--LogIn Start-->
  <div class="wrapper">
     <div class="container">
        <h3 class="name"> IISERVZ </h3>
        <h4>Digital Verification</h4>
        <form class="form">
           <input type="text"  name="contact" [(ngModel)]="contact" placeholder="Mobile Number"><br>
           <!-- <input type="password" placeholder="Password"> -->
           <a><button type="button" (click)="login()" id="login-button">Login</button></a>
        </form>
     </div>
     <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
     </ul>
  </div>
</body>